<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <img src="assets/Alerto24.png" alt="Logo" class="logo">

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="login()">Login</ion-button>

  <!-- Add the Signup Component -->
  <ion-button expand="block" color="secondary" routerLink="/signup">Sign Up</ion-button>
  
  <!-- Centered login status message -->
  <div class="ion-text-center">
    <ion-label *ngIf="loginStatus">{{ loginStatus }}</ion-label>
    <ion-label *ngIf="errorCode">{{ errorCode }}</ion-label> <!-- Display error code if it exists -->
  </div>
</ion-content>
